<header id="header">
  <div id="logo" data-content-field="site-title">

    <h1 class="logo" data-shrink-original-size="30" style="letter-spacing: 0.0333333em;"><a href="/"><img
          src="//static1.squarespace.com/static/5bd64243ca525b5f989a2306/t/5dd9e853455f406d50bc981a/1579707613614/?format=1000w"
          alt="Yadi Liu"></a></h1>
    <div class="logo-subtitle" data-shrink-original-size="13" style="letter-spacing: 0.0769231em;">+1 646-633-1824 /
      yadiliuart@gmail.com / Ins: yadiiart</div>

  </div>
  <div id="topNav" data-content-field="navigation">
    <nav class="main-nav">
      <ul>
        <li class="splash-page-collection">
          <a href="/">.</a>
        </li>
        <li class="index-collection active-link">
          <a href="/illustration">Illustration</a>
        </li>
        <li class="index-collection">
          <a href="/ink-drawing-1">Ink Drawing</a>
        </li>
        <li class="index-collection">
          <a href="/fine-arts-1">Fine Art</a>
        </li>
        <li class="gallery-collection">
          <a href="/animation">Animation</a>
        </li>
        <li class="page-collection">
          <a href="/press">Press</a>
        </li>
        <li class="page-collection">
          <a href="/about">About</a>
        </li>
      </ul>
    </nav>
  </div>

</header>
